extends layout

block content
  h1= title
  each message in messages
    p
      strong= message.user
      | : #{message.text}
      br
      | Added: #{message.added}
  form(method="POST", action="/new")
    input(type="text", name="user", placeholder="Your Name")
    input(type="text", name="text", placeholder="Your Message")
    button(type="submit") Add Message

